steps:
      - name: Checkout code
        uses: actions/checkout@v4
                
      - name: Hello World - Check GCS Connection
        run: |
          echo "Hello World! Autenticado com sucesso no GCP."
          echo "Listando arquivos no bucket: ${{ vars.BUCKET_NAME }}"
          gcloud storage ls gs://${{ vars.BUCKET_NAME }}/