steps:
  - id: 'Hello World'
    name: 'ubuntu'
    args:
      - 'bash'
      - '-c'
      - |
        echo "Hello World! Autenticado com sucesso no GCP via Cloud Build."
        echo "A Service Account injetada foi: $_GCP_SERVICE_ACCOUNT"