steps:
  - id: 'Deploy DAGs to Composer'
    name: 'gcr.io/google.com/cloudsdktool/cloud-sdk:slim'
    entrypoint: 'bash'
    args:
      - '-c'
      - |
        gsutil -m rsync -d -r .github/dags gs://$_BUCKET_NAME/dags
options:
  logging: CLOUD_LOGGING_ONLY