steps:
  - id: 'Deploy DAGs to GCS'
    name: 'gcr.io/google.com/cloudsdktool/cloud-sdk:slim'
    entrypoint: 'bash'
    args:
      - '-c'
      - |
        # CORREÇÃO: Adicionado o $ na frente da variável de substituição
        gcloud storage cp -r airflow/dags/* gs://$_BUCKET_NAME/dags/

options:
  logging: CLOUD_LOGGING_ONLY