steps:
  # 1. Terraform Init
  - name: 'hashicorp/terraform:1.6.0' # Use a versão que preferir
    args: ['init']
    dir: 'infra'

  # 2. Terraform Validate
  - name: 'hashicorp/terraform:1.6.0'
    args: ['validate']
    dir: 'infra'

  # 3. Terraform Plan
  - name: 'hashicorp/terraform:1.6.0'
    args: 
      - 'plan'
      - '-var-file=$_TF_ENV_PATH' 
      - '-out=tfplan'
    dir: 'infra'

  # 4. Terraform Apply (Só executa se for push na develop ou main)
  - name: 'hashicorp/terraform:1.6.0'
    entrypoint: 'sh'
    args: 
      - '-c'
      - |
        if [ "$BRANCH_NAME" = "develop" ] || [ "$BRANCH_NAME" = "main" ]; then
          terraform apply -auto-approve tfplan
        else
          echo "Skipping apply for branch $BRANCH_NAME"
        fi
    dir: 'infra'

options:
  logging: CLOUD_LOGGING_ONLY